* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
    --white-color: #fff;

    --content-width: 1110px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", serif;
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 18px 16px;
    min-width: 170px;
    border-radius: 12px;
    background: var(--primary-color);

    font-size: 1.3rem;
    font-weight: 500;
    color: var(--white-color);
}

.btn:hover {
    opacity: 0.9;
}

.content {
    width: var(--content-width);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* ==================== Header ==================== */
.header {
    position: relative;
    background: #e6f0ff;
    padding-top: 28px;
    height: 100vh;
}

.header .navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .action {
    margin-left: auto;
}

.navbar ul a {
    display: block;
    padding: 12px 14px;
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action {
    display: flex;
    align-items: center;
}

.action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.action-btn {
    margin-left: 18px;
    min-width: 98px;
    border-radius: 8px;
    padding: 14px 16px;
}

/* Hero */
.hero .info {
    margin-top: 130px;
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.01em;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 118.75%;
}

.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    line-height: 177.778%;
}

.hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - var(--content-width)) / 2 - 100px);
}

/* ==================== Client ==================== */
.client {
    margin-top: 79px;
    padding: 43px 0;
}

.client .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client .starts {
    color: #ffca56;
}

.client .row .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 125%;
}

.client .row + .row {
    margin-top: 23px;
}

.client .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.client .images img {
    padding: 20px 20px;
    border-radius: 12px;
}

.client .images img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}

/* ==================== Guides ==================== */
.guides {
    margin-top: 40px;
    padding: 79px 0;
}

.guides .sub-title {
    --color: #000339;

    position: relative;
    color: var(--color);
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    border-radius: 9999px;
    background-color: var(--color);
}

.guides .desc {
    margin: 20px auto 70px;
    width: 459px;
    max-width: 100%;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 187.5%;
}

.list-guides {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 140px;
}

.guide-item {
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 110%; /* 110% */
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-item .link .arrow {
    margin-left: 8px;
}

.guide-cta {
    margin-top: 50px;
    text-align: center;
}
